<main>
  <div class="page-header">
    <h1>Data Sources</h1>
    <%= link_to new_app_workspace_data_source_path(@workspace), class: "link secondary create-data-source", "data-shortcut": "N", "aria-label": "Create new datasource" do %>
      <i class="ri-add-line red-500"></i>
      <span>Create New</span>
    <% end %>
  </div>

  <div class="data-sources container lg" data-controller="cards">
    <% @data_sources.each do |data_source| %>
      <%= render "shared/data_source_card", workspace: @workspace, data_source: %>
    <% end %>
  </div>
</main>
