<main>
  <div class="page-header">
    <h1>Query Library</h1>
    <%= link_to "#", class: "link secondary create-data-source" do %>
      <i class="ri-add-line red-500"></i>
      <span>Create New</span>
    <% end %>
  </div>
</main>
