<h1>Log in to sql_book</h1>
<p>We&apos;ve received your log-in code request. Please use the following temporary code to access your account, or click on the magic link:</p>
<p style="background: #ECE9E1; display: inline-block; font-size: 1.5rem; padding: .75rem 1rem"><%= @token %></p>
<p><b>(If you didn't try to log in to sqlbook you can safely ignore this email.)</b></p>
