<h1>Your sign-up code for sql_book</h1>
<p>Thanks for signing up to sql_book. Please use the following temporary code to access your account, or click on the magic link:</p>
<p style="background: #ECE9E1; display: inline-block; font-size: 1.5rem; padding: .75rem 1rem"><%= @token %></p>
<p class="small">Psst…we use magic links and codes instead of passwords, you&apos;ll receive these one-time, randomly generated codes each future time you log in to sql_book.</p>
<p><b>(If you didn't try to sign up to sqlbook you can safely ignore this email.)</b></p>
