.tabs {
  .nav-item {
    align-items: center;
    color: var(--gray-300);
    display: flex;
    margin: 0 1.5rem 0 0;
    text-decoration: none;

    span {
      border-bottom: 1px solid transparent;
      font-weight: var(--font-weight-bold);
    }
    
    i {
      color: var(--gray-500);
      margin: 0 .25rem 0 0;
    }
    
    &.active {
      color: var(--cream-250);

      i {
        color: var(--red-500);
      }

      span {
        border-color: var(--red-500);
      }
    }

    &:hover {
      span {
        border-color: var(--red-500);
      }
    }
  }

  .seperator {
    flex: 1;
  }
}
