.tabs {
  .nav-item {
    align-items: center;
    color: var(--gray-300);
    display: flex;
    flex-shrink: 0;
    line-height: 1.5rem;
    margin: 0 1.5rem 0 0;
    text-decoration: none;
    white-space: nowrap;

    span {
      border-bottom: 1px solid transparent;
      display: block;
      font-weight: var(--font-weight-bold);
      padding-top: 2px;
      white-space: nowrap;
    }
    
    i {
      color: var(--gray-500);
      display: block;
      line-height: 1;
      margin: 0 .25rem 0 0;
    }
    
    &.active {
      color: var(--cream-250);

      i {
        color: var(--red-500);
      }

      span {
        border-color: var(--red-500);
      }
    }

    &:hover {
      span {
        border-color: var(--red-500);
      }
    }

    &:last-of-type {
      margin: 0;
    }
  }
}
