.chart-config {
  overflow-y: auto;

  .heading {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 0 1.5rem 0;

    h4 {
      margin: 0;
    }

    .link {
      text-decoration: none;

      span {
        text-decoration: underline;
      }
    }
  }

  .preview {
    background: var(--gray-850);
    margin: 0 0 1.5rem 0;
    padding: 1.5rem;
  }

  .content {
    .split {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 1fr 1fr;
      margin: 0 0 1.5rem 0;
    }

    .inline {
      align-items: center;
      display: flex;

      > div {
        margin: 0 1.5rem 0 0;
      }
    }

    p {
      margin: 0 0 1.5rem 0;
    }

    .label {
      color: var(--cream-250);
    }

    .spacing-top {
      margin-top: 1.5rem;
    }

    .no-spacing {
      margin: 0;
    }

    .config-group {
      &:not(:last-of-type) {
        border-bottom: 1px solid var(--gray-700);
        margin: 0 0 1.5rem 0;
        padding: 0 0 1.5rem 0;
      }
    }
  }

  .color-array {
    align-items: center;
    display: flex;
    margin: 1rem 0 0 0;

    .color {
      border-radius: var(--border-radius-o);
      height: 2rem;
      margin: 0 1rem 0 0;
      width: 2rem;
    }
  }
}
