.chart-config {
  overflow-y: auto;

  .heading {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 0 1.5rem 0;

    h4 {
      margin: 0;
    }

    .link {
      text-decoration: none;

      span {
        text-decoration: underline;
      }
    }
  }

  .preview {
    background: var(--gray-850);
    margin: 0 0 1.5rem 0;
    padding: 1.5rem;

    .title {
      margin: 0 0 .5rem 0;
    }

    .subtitle {
      margin: 0;
    }

    .chart {
      height: 16rem;
    }
  }

  .content {
    .split {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 1fr 1fr;
      margin: 0 0 1.5rem 0;
    }

    .inline {
      align-items: center;
      display: flex;

      > div {
        margin: 0 1.5rem 0 0;
      }
    }

    p {
      margin: 1.5rem 0;
    }

    .label {
      color: var(--cream-250);
    }

    .divider {
      background: var(--gray-700);
      height: 1px;
    }

    .spacing-top {
      margin-top: 1.5rem;
    }
  }
}
