.chart-container {
  .title {
    margin: 0 0 .5rem 0;
  }

  .subtitle {
    margin: 0;
  }

  .chart {
    margin: 1rem 0 0 0;

    &:not(.total) {
      min-height: 18rem;
    }

    &.total {
      display: flex;

      .count {
        font-size: 3.5rem;
        line-height: 3.5rem;
        margin: 0;
      }

      .post-text-label {
        font-weight: var(--font-weight-bold);
      }

      &.align-bottom {
        flex-direction: column;

        .post-text-label {
          margin: .5rem 0 0 0;
        }
      }

      &.align-right {
        align-items: flex-end;

        .post-text-label {
          margin: 0 0 0 1rem;
        }
      }
    }
  }
}
