.data-source-query {
  .data-sources-select {
    align-items: center;
    background: var(--gray-900);
    border-radius: var(--border-radius-sm);
    display: flex;
    margin: 0 0 3rem 0;
    padding: 1rem 1.5rem;

    .label {
      color: var(--cream-250);
      margin: 0 1rem 0 0;

      i {
        color: var(--red-600);
        font-weight: var(--font-weight-normal);
      }
    }

    .select {
      flex: 1;
    }

    .link {
      font-size: 1.25rem;
      margin: 0 0 0 1.5rem;
      text-decoration: none;
    }
  }

  .query-form {
    textarea {
      appearance: none;
      background: none;
      border-color: transparent;
      border-style: solid;
      border-width: 0 0 0 .125rem;
      caret-color: var(--red-500);
      color: var(--gray-250);
      font: inherit;
      resize: none;
      margin: 0;
      overflow: hidden;
      padding: 0 0 0 .5rem;
      width: 100%;

      &:placeholder-shown {
        border-color: var(--red-500);
      }

      &:hover,
      &:focus {
        outline: none;
      }
    }

    .submit {
      color: var(--gray-300);
      margin: 2rem 0 0 0;
      text-decoration: none;

      &:disabled {
        display: none;
      }
    }
  }
}
