.data-source-query {
  .data-sources-row {
    align-items: center;
    background: var(--gray-900);
    border-radius: var(--border-radius-sm);
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 9rem minmax(0, 1fr) 1.5rem 1.5rem;
    padding: 1rem 1.5rem;

    .label {
      color: var(--cream-250);
      margin: 0;

      i {
        color: var(--red-600);
        font-weight: var(--font-weight-normal);
      }
    }

    .select {
      flex: 1;
    }

    .link {
      font-size: 1.25rem;
      text-decoration: none;

      &.active {
        i {
          color: var(--red-500);
        }
      }
    }

    &.schema {
      padding-top: 0;
    }

    &.hide {
      display: none;

      & + .schema-table {
        display: none;
      }
    }

    &.schema-table {
      grid-template-columns: 1fr;
      padding-top: 0;
      
      table {
        width: 100%;

        &.hide {
          display: none;
        }
      }

      .scroll {
        max-height: 26rem;
        overflow-y: auto;
      }
    }
  }

  .query-form {
    margin: 3rem 0 0 0;
    position: relative;

    textarea {
      appearance: none;
      background: none;
      border-color: transparent;
      border-style: solid;
      border-width: 0 0 0 .125rem;
      caret-color: var(--red-500);
      color: var(--gray-250);
      font: inherit;
      resize: none;
      margin: 0;
      overflow: hidden;
      padding: 0 0 0 .5rem;
      width: 100%;

      &:placeholder-shown {
        border-color: var(--red-500);
      }

      &:hover,
      &:focus {
        outline: none;
      }
    }

    .submit {
      color: var(--gray-300);
      margin: 2rem 0 0 0;
      text-decoration: none;

      &:disabled {
        display: none;
      }
    }
  }

  .query-library {
    background: var(--gray-800);
    border: 1px solid var(--gray-500);
    border-radius: var(--border-radius-sm);
    display: none;
    flex-direction: column;
    position: absolute;
    width: 15rem;

    &.show {
      display: flex;
    }

    .link {
      color: var(--gray-250);
      cursor: pointer;
      display: block;
      text-align: left;
      padding: .125rem .5rem;

      &.hide {
        display: none;
      }

      &:hover {
        background: var(--gray-900);
        color: var(--cream-250);
      }
    }
  }
}
