.header {
  align-items: center;
  display: flex;
  grid-area: header;
  padding: 1.5rem;

  &.split {
    justify-content: space-between;
  }

  menu {
    height: 1.5rem;
    margin: 0;
    padding: 0;
    position: relative;

    &.open {
      .dropdown {
        display: flex;
      }

      .toggle-menu {
        i {
          &:first-of-type {
            display: none;
          }
    
          &:last-of-type {
            display: block;
          }
        }
      }
    }
  }
  
  p {
    margin: 0;
  }

  .logo {
    display: block;
  }

  .workspace-header-left {
    align-items: center;
    display: flex;
    gap: 1rem;
  }

  .desktop-workspace-switcher {
    display: none;
    width: 10rem;
  }

  .workspace-desktop-nav {
    display: none;
  }

  .menu-actions {
    align-items: center;
    display: flex;
    gap: 1rem;
    margin: 0 0 0 auto;
  }

  .dropdown {
    background: var(--gray-800);
    border: 1px solid var(--gray-900);
    border-radius: var(--border-radius-sm);
    display: none;
    flex-direction: column;
    left: auto;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: calc(100% + .5rem);
    width: 11.25rem;
    z-index: 5;

    .select {
      margin: 0 0 1rem 0;
    }

    .category {
      color: var(--gray-500);
      margin: 1rem 0 .75rem 0;

      &:first-of-type {
        margin-top: 0;
      }

      &.heading {
        margin: 0 0 .5rem 0;
      }
    }

    .menu-item {
      margin: 0 0 .5rem 0;
      text-decoration: none;

      &:last-of-type {
        margin: 0;
      }

      &:hover {
        i {
          color: var(--red-600);
        }
      }

      i {
        color: var(--gray-500);
      }
    }
  }

  .toggle-menu {
    cursor: pointer;
    font-size: 1rem;
    margin: 0;
    text-decoration: none;

    i {
      &:first-of-type {
        display: block;
      }

      &:last-of-type {
        display: none;
      }
    }
  }

  .workspace-menu .dropdown {
    width: 11.25rem;
  }

  .account-menu .dropdown {
    width: 10rem;
  }

  @media (min-width: 64rem) {
    &.with-workspace {
      position: relative;
    }

    .desktop-workspace-switcher {
      display: block;
    }

    .workspace-desktop-nav {
      display: flex;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;

      .workspace-desktop-nav-item {
        align-items: center;
        background: var(--gray-800);
        border: 1px solid var(--gray-700);
        color: var(--gray-250);
        display: inline-flex;
        font-size: 1rem;
        gap: .5rem;
        height: 2rem;
        line-height: 1.5rem;
        padding: 0 .75rem;
        position: relative;
        text-decoration: none;
        z-index: 1;

        &:first-of-type {
          border-bottom-left-radius: var(--border-radius-lg);
          border-top-left-radius: var(--border-radius-lg);
        }

        &:last-of-type {
          border-bottom-right-radius: var(--border-radius-lg);
          border-top-right-radius: var(--border-radius-lg);
        }

        & + .workspace-desktop-nav-item {
          margin-left: -1px;
        }

        i {
          color: var(--gray-500);
        }

        &:hover,
        &.active {
          background: var(--gray-700);
          border-color: var(--gray-500);
          color: var(--cream-250);
          z-index: 2;

          i {
            color: var(--red-500);
          }
        }
      }
    }

    .workspace-menu {
      display: none;
    }
  }
}
