.header {
  align-items: center;
  display: flex;
  grid-area: header;
  padding: 1.5rem;

  &.split {
    justify-content: space-between;
  }

  menu {
    height: 1.5rem;
    margin: 0;
    padding: 0;
    position: relative;

    &.open {
      .dropdown {
        display: flex;
      }

      .toggle-menu {
        i {
          &:first-of-type {
            display: none;
          }
    
          &:last-of-type {
            display: block;
          }
        }
      }
    }
  }
  
  p {
    margin: 0;
  }

  .logo {
    display: block;
  }

  .menu-actions {
    display: flex;
    gap: 1rem;
    margin: 0 0 0 auto;
  }

  .dropdown {
    background: var(--gray-800);
    border: 1px solid var(--gray-900);
    border-radius: var(--border-radius-sm);
    display: none;
    flex-direction: column;
    left: auto;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: calc(100% + .5rem);
    width: 11.25rem;
    z-index: 1;

    .select {
      margin: 0 0 1rem 0;
    }

    .category {
      color: var(--gray-500);
      margin: 1rem 0 .75rem 0;

      &:first-of-type {
        margin-top: 0;
      }

      &.heading {
        margin: 0 0 .5rem 0;
      }
    }

    .menu-item {
      margin: 0 0 .5rem 0;
      text-decoration: none;

      &:last-of-type {
        margin: 0;
      }

      &:hover {
        i {
          color: var(--red-600);
        }
      }

      i {
        color: var(--gray-500);
      }
    }
  }

  .toggle-menu {
    cursor: pointer;
    font-size: 1rem;
    margin: 0;
    text-decoration: none;

    i {
      &:first-of-type {
        display: block;
      }

      &:last-of-type {
        display: none;
      }
    }
  }

  .workspace-menu .dropdown {
    width: 11.25rem;
  }

  .account-menu .dropdown {
    width: 10rem;
  }
}
