.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}

.header menu {
  margin: 0;
  padding: 0;
}

.header p {
  margin: 0;
}

.header .logo-dark {
  display: block;
}

.header .logo-light {
  display: none;
}

@media (prefers-color-scheme: light) {
  .header .logo-dark {
    display: none;
  }

  .header .logo-light {
    display: block;
  }
}
