<h1>Account Deletion Confirmed</h1>

<p>Following your request to delete your sqlbook account, your account and associated data have been permanently deleted.</p>

<p>We can also confirm that your workspaces have been deleted or, where requested, ownership has been successfully transferred to the specified team member(s).</p>

<p>If you'd like to share feedback about your experience with sqlbook, you can contact us at any time at hello@sqlbook.com.</p>
