<h1>Confirm your email address change</h1>
<p>We received a request to change the email address on your sqlbook account.</p>
<p>For security, please confirm this by clicking the link below within 1 hour. If this wasn&apos;t you, you can ignore this email and no changes will be made.</p>
<%= link_to "[Confirm email change]", @verification_url, style: "margin: 0; text-decoration: none;" %>
