.app-data_sources-set_up {
  display: grid;
  grid-template-areas: 'header aside'
                       'main aside';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
}

.app-data_sources-set_up aside p span {
  color: var(--cream-100);
}

.app-data_sources-set_up aside p .link.primary {
  text-decoration: underline;
}

.app-data_sources-set_up .comment {
  color: var(--gray-300);
}

.app-data_sources-set_up .tracking-code {
  color: var(--cream-250);
}

.app-data_sources-set_up pre {
  margin: 0 0 1.5rem 0;
}
