<div class="accordion" data-controller="accordion" data-label="<%= label %>">
  <button class="link toggle" data-action="accordion#toggle" type="button">
    <i class="open ri-lg ri-add-line gray-250"></i>
    <i class="close ri-lg ri-subtract-line gray-250"></i>
    <span class="cream-100"><%= label %></span>
  </button>

  <div class="content">
    <%= yield %>
  </div>
</div>
