<%= link_to "https://github.com/sqlbook/sql_book", class: "github-link", target: "blank" do %>
  <i class="ri-lg ri-github-fill github-logo"></i>
  <span>GitHub</span>
  <i class="ri-lg ri-external-link-line"></i>
<% end %>
