<main>
  <h1>The analytics tool for data pros</h1>
  <p class="cream-250">How would you like to begin?</p>
  <ol>
    <li>I&apos;d like to start analysing data <%= link_to "[Press 1]", auth_signup_index_path, class: "link primary", "data-shortcut": "1", "aria-label": "Visit the sign up page" %></li>
    <li>I want to learn more about sqlbook <%= link_to "[Press 2]", about_index_path, class: "link primary", "data-shortcut": "2", "aria-label": "Visit the about page" %></li>
  </ol>
</main>
