<h1>Invitation rejected</h1>
<p><b><%= @member.user.full_name %></b> has rejected your invitation to join the <%= @member.workspace.name %> workspace on sqlbook. Click the button below to view and manage your workspace team.</p>
<%= link_to "[Workspace Settings]", app_workspace_settings_url(@member.workspace, tab: 'team'), style: "margin: 0; text-decoration: none;" %>
