<h1>Hi <%= @member.user.first_name %>, you&apos;ve been invited to join a workspace on sqlbook.</h1>
<p><b><%= @member.invited_by.full_name %></b> has invited you to join the <%= @member.workspace.name %> workspace on sqlbook. Please click the button below to proceed.</p>
<%= link_to "[View Invitation]", auth_invitation_url(@member.invitation), style: "margin: 0; text-decoration: none;" %>
