<h1>You have been removed from the <%= @workspace_name %> workspace team</h1>
<p>You still have an account on Sqlbook, but you will no longer have access to the <b><%= @workspace_name %></b> workspace. If you believe this was in error, please contact your workspace administrator.</p>
<%= link_to "[Visit Sqlbook]", app_workspaces_url, style: "margin: 0; text-decoration: none;" %>
