<h1><%= @workspace_name %> has been deleted by <%= @workspace_owner_name %></h1>
<p>You still have an account on Sqlbook, but the <b><%= @workspace_name %></b> workspace no longer exists.</p>
<%= link_to "[Visit Sqlbook]", app_workspaces_url, style: "margin: 0; text-decoration: none;" %>
