.auth-signup-index {
  .signup-form {
    .label {
      margin: 1.5rem 0 .25rem 0;
    }

    .submit {
      margin: 2rem 0 0 0;
    }

    .checkbox {
      margin: 1rem 0 0 0;
    }

    .flash {
      margin: .5rem 0 0 0;
    }
  }
}
