.auth-signup-index .signup-form .submit {
  margin: 2rem 0 0 0;
}

.auth-signup-index .signup-form .checkbox {
  margin: 1rem 0 0 0;
}

.auth-signup-index .signup-form .flash {
  margin: .5rem 0 0 0;
}
