.app-workspaces-show {
  display: grid;
  grid-template-areas: 'header aside'
                       'main aside';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;

  .page-header {
    align-items: center;
    display: flex;
    margin: 0 0 2rem 0;

    h1 {
      margin: 0;
    }

    .create-workspace {
      margin: 0 0 0 1.5rem;
      text-decoration: none;
      
      &:hover {
        span {
          text-decoration: underline;
        }
      }
    }
  }

  .workspace-card {
    grid-template-areas: 'details details details details'
                         'data-sources queries dashboards events';
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .details {
      grid-template-areas: 'url settings'
                           'owner owner';
      grid-template-columns: 1fr auto;
    }
  }

  .members-table {
    margin: 2rem 0 0 0;

    table {
      table-layout: fixed;
      width: 100%;
    }

    .name {
      width: 40%;
    }

    .role,
    .status {
      width: 15%;
    }

    .actions {
      width: 1%;
    }

    .actions-inline {
      display: inline-flex;
      gap: .75rem;
      justify-content: flex-end;
      white-space: nowrap;
    }
  }

  .invite {
    display: none;
    margin: 2rem 0 0 0;
    text-decoration: none;

    &.show {
      display: inline-block;
    }

    span {
      text-decoration: underline;
    }
  }

  .workspace-update-form {
    .link {
      margin: 2rem 0 0 0;
    }
  }

  .invite-team-member-form {
    display: none;
    margin: 2rem 0 0 0;

    &.show {
      display: block;
    }

    .split {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 1fr 1fr;
      margin: 0 0 1rem 0;
    }

    .actions {
      margin: 2rem 0 0 0;

      .link {
        margin: 0 1rem 0 0;
      }
    }
  }

  .delete-workspace {
    ul {
      padding: 0 0 0 1.75rem;
    }
  }
}
