<main>
  <h1>Accept invitation</h1>
  <p>Your invitation link is no longer valid, please contact the site owner to request a new invitation</p>
  <%= link_to "[Go home]", root_path, class: "link primary" %>
</main>
