<main>
  <h1>The analytics tool for data pros</h1>

  <div class="container lg features">
    <div class="card">
      <i class="ri-xl ri-database-2-line"></i>
      <p class="title"><b>Capture great data</b></p>
      <p>Our privacy-friendly, <%= link_to "open source", "https://github.com/sqlbook/sql_book", target: "blank", class: "link primary", "aria-label": "Visit the sqlbook Github page" %> tracking code captures comprehensive analytics and event data from your site.</p>
    </div>
    <div class="card">
      <i class="ri-xl ri-search-line"></i>
      <p class="title"><b>Query with SQL</b></p>
      <p>You use SQL to <span class="cream-250">query your analytics or event data</span> and easily extract the precise information you need.</p>
    </div>
    <div class="card">
      <i class="ri-xl ri-bar-chart-box-line"></i>
      <p class="title"><b>Analyse and visualize</b></p>
      <p>Make complex data more understandable by transforming your query results into <span class="cream-250">useful charts and visuals</span>.</p>
    </div>
    <div class="card">
      <i class="ri-xl ri-dashboard-line"></i>
      <p class="title"><b>Organise everything</b></p>
      <p><span class="cream-250">Save your queries and visualizations</span> for future reference, or use them to <span class="cream-250">build comprehensive dashboards</span>.</p>
    </div>
  </div>

  <p class="cream-250">So, are you ready?</p>
  <ol>
    <li>Yes, let&apos;s start capturing and analysing data <%= link_to "[Press 1]", auth_signup_index_path, class: "link primary", "data-shortcut": "1", "aria-label": "Visit the sqlbook sign up page" %></li>
    <li>Not right now <%= link_to "[Press 2]", root_path, class: "link primary", "data-shortcut": "2", "aria-label": "Return to the home page" %></li>
  </ol>
</main>
