.checkbox {
  align-items: center;
  color: var(--cream-250);
  cursor: pointer;
  display: inline-flex;
  font-size: .875rem;
  font-weight: var(--font-weight-normal);
  gap: .5rem;
  line-height: 1.5rem;
  position: relative;
  user-select: none;

  input {
    height: 1px;
    margin: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 1px;

    &:checked + .check {
      background: var(--gray-850);
      border-color: var(--cream-100);

      i {
        display: block;
      }

      &:hover {
        border-color: var(--red-600);
      }
    }

    &:indeterminate + .check {
      border-color: var(--red-500);

      i {
        display: block;
      }
    }

    &:focus-visible + .check {
      outline: 1px solid var(--cream-100);
      outline-offset: 2px;
    }

    &:disabled + .check {
      background: var(--gray-700);
      border-color: var(--gray-700);
      color: var(--gray-500);
      cursor: not-allowed;
    }

    &:disabled ~ .checkbox-text {
      color: var(--gray-500);
    }
  }

  .check {
    align-items: center;
    background: var(--gray-700);
    border: 1px solid var(--gray-500);
    border-radius: var(--border-radius-sm);
    color: var(--white);
    cursor: pointer;
    display: inline-flex;
    flex: 0 0 1rem;
    height: 1rem;
    justify-content: center;
    line-height: 0;
    width: 1rem;

    i {
      display: none;
      font-size: .75rem;
      line-height: 1;
    }

    &:hover {
      border-color: var(--cream-100);
    }
  }

  .checkbox-text {
    color: var(--gray-250);
    line-height: 1.5rem;
    padding-top: 1px;
  }

  &.invalid {
    .check {
      border-color: var(--red-500);
    }
  }

  .checkbox-text a {
    color: var(--cream-250);
    text-decoration: underline;

    &:hover {
      color: var(--cream-200);
    }
  }
}
