.container {
  &.lg {
    max-width: 60rem;
  }

  &.md-lg {
    max-width: 39rem;
  }
  
  &.md {
    max-width: 29rem;
  }
  
  &.sm {
    max-width: 18.625rem;
  }
  
  &.x-sm {
    max-width: 13.5rem;
  }
}
