html, body {
  background: var(--background-color);
  color: var(--gray-250);
  font-family: 'Roboto Mono', monospace;
  font-size: 100%;
  font-weight: var(--font-weight-normal);
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-size: .875rem;
  line-height: 1.5rem;
  scrollbar-color: var(--gray-250) transparent;
}

main {
  grid-area: main;
  flex: 1;
  padding: 0 3rem;
}

aside {
  background: var(--gray-900);
  grid-area: aside;
  padding: 0 3rem;
  position: relative;
}

.turbo-progress-bar {
  background: var(--red-500);
}

::-webkit-scrollbar-thumb {
  background: var(--gray-250);
  border-radius: var(--border-radius-md);
}

::-webkit-scrollbar {
  background: transparent;
  height: .5rem;
  width: .5rem;
}

::-webkit-scrollbar-track {
  background: transparerent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
