.input {
  appearance: none;
  background: var(--gray-850);
  border: 1px solid var(--gray-500);
  border-radius: var(--border-radius-md);
  color: var(--cream-250);
  font: inherit;
  font-weight: var(--font-weight-normal);
  height: 2rem;
  margin: 0;
  padding: 0 .5rem;

  &:hover,
  &:focus {
    background: var(--black);
    border-color: var(--red-500);
    outline: none;
  }

  &::placeholder {
    color: var(--gray-300);
    font-style: italic;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: background 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--cream-250);
  }
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

input[type='search']::-ms-clear,
input[type='search']::-ms-reveal {
  display: none;
  height: 0;
  width: 0;
}

.search-input-group {
  position: relative;

  &--fluid {
    width: 100%;
  }

  .input[type='search'] {
    padding-right: 2rem;
  }
}

.search-input-clear {
  align-items: center;
  background: transparent;
  border: 0;
  color: var(--gray-500);
  cursor: pointer;
  display: inline-flex;
  height: 16px;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 12px;
  top: calc(50% - 8px);
  transition: color 120ms ease;
  width: 16px;

  &:hover {
    color: var(--red-500);
  }

  &[hidden] {
    display: none;
  }
}
