table {
  background: var(--gray-850);

  th {
    color: var(--cream-250);
  }

  tr {
    &:hover,
    &.active {
      background: var(--gray-850);

      th, td {
        &.options {
          .toggle-options {
            visibility: visible;
          }
        }
      }
    }

    &.active {
      .toggle-options i {
        color: var(--red-500);
      }
    }
  }
  
  td {
    color: var(--gray-250);
  }
  
  th, td {
    border-color: var(--gray-900);
    border-style: solid;
    border-width: 1px 0 1px 1px;
    border-collapse: collapse;
    padding: .5rem 1.5rem;
    text-align: left;
    white-space: nowrap;
  
    &.options {
      border-left-width: 0;
      padding: .5rem 1.5rem .5rem 0;
      position: relative;
      white-space: nowrap;
      width: 1px;
  
      .toggle-options {
        align-items: center;
        appearance: none;
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        height: 1rem;
        margin: 0;
        padding: 0;
        visibility: hidden;
        width: 1rem;
      }

      .dropdown-options {
        right: calc(100% - 1rem);
        top: 2.5rem;
        width: 6rem;
      }
    }
  }

  .null {
    color: var(--gray-500);
  }

  &.collapsible {
    th, td {
      overflow: hidden;
      max-width: 1px;
      text-overflow: ellipsis;
    }

    th.options,
    td.options,
    th.actions,
    td.actions {
      max-width: none;
      text-overflow: clip;
      white-space: normal;
      width: 1%;
    }
  }

  th[data-tooltip],
  td[data-tooltip] {
    position: relative;

    &:hover {
      overflow: visible;
    }

    &:hover::after {
      background: var(--gray-900);
      border: 1px solid var(--gray-500);
      border-radius: 2px;
      bottom: calc(100% + .25rem);
      color: var(--gray-250);
      content: attr(data-tooltip);
      left: 0;
      line-height: 1.5rem;
      max-width: min(26rem, 80vw);
      padding: .125rem .5rem;
      position: absolute;
      text-overflow: clip;
      white-space: nowrap;
      width: max-content;
      z-index: 20;
    }
  }
}

table, th, td {
  border: 1px solid var(--gray-900);
  border-collapse: collapse;
}
