h1 {
  color: var(--cream-250);
  font-size: 2.5rem;
  font-weight: var(--font-weight-bold);
  line-height: 3rem;
  margin: 0 0 3rem 0;
}

h2 {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  line-height: 3rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  line-height: 2rem;
}

h4 {
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.5rem;
}

h5 {
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.5rem;
}

p {
  margin: 0 0 1rem 0;
}

code {
  font-family: inherit;
}

.link {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  margin: 0;
  padding: 0;

  &.primary {
    color: var(--red-500);
    text-decoration: none;
  
    &:hover {
      color: var(--red-300);
    }
  
    &:active {
      color: var(--red-600);
    }

    &:disabled,
    &.disabled {
      opacity: .3;
      pointer-events: none;
    }
  }

  &.secondary {
    color: var(--gray-250);
    text-decoration: underline;

    &:hover {
      color: var(--gray-200);
    }
    
    &:active {
      color: var(--gray-300);
    }
    
    &:disabled,
    &.disabled {
      opacity: .3;
      pointer-events: none;
    }
  }
}

.text-small {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-large {
  font-size: 1rem;
  line-height: 1.5rem;
}
