:root {
  --black: #000000;
  --white: #FFFFFF;

  --background-color: #1C1C1C;

  --gray-900: #111111;
  --gray-850: #1C1C1C;
  --gray-800: #222222;
  --gray-700: #333333;
  --gray-500: #777777;
  --gray-300: #A1A1A1;
  --gray-250: #BBBBBB;
  --gray-200: #CCCCCC;

  --red-700: #FF4941;
  --red-600: #FF6A64;
  --red-500: #F5807B;
  --red-300: #FF9995;

  --cream-250: #ECE9E1;
  --cream-200: #F5F2E7;
  --cream-100: #FAF9F6;

  --font-weight-normal: 400;
  --font-weight-bold: 700; 

  --border-radius-sm: 0.125rem;
  --border-radius-md: 0.25rem;
  --border-radius-lg: 0.5rem;
  --border-radius-o: 50%;
}

@media (prefers-color-scheme: light) {
  :root {
    --white: #000000;

    --background-color: #F5F3ED;

    --gray-900: #ECE9E1;
    --gray-850: #F5F2E7;
    --gray-800: #FAF9F6;
    --gray-700: #CCCCCC;
    --gray-500: #BBBBBB;
    --gray-200: #333333;
    --gray-250: #777777;

    --red-700: #FF4941;
    --red-600: #F5807B;
    --red-500: #FF6A64;
    --red-300: #FF9995;

    --cream-250: #111111;
    --cream-200: #1C1C1C;
    --cream-100: #222222;
  }
}
