.checkbox {
  align-items: center;
  display: block;
}

.checkbox input {
  display: none;
}

.checkbox .check {
  align-items: center;
  background: var(--gray-700);
  border: 1px solid var(--gray-500);
  border-radius: var(--border-radius-sm);
  color: var(--white);
  cursor: pointer;
  display: inline-flex;
  height: 1rem;
  justify-content: center;
  margin: 0 .5rem 0 0;
  vertical-align: middle;
  width: 1rem;
}

.checkbox .check i {
  display: none;
}

.checkbox .check:hover {
  border-color: var(--cream-100);
}

.checkbox input:checked + .check {
  background: var(--red-500);
  border-color: var(--red-500);
}

.checkbox input:checked + .check i {
  display: block;
}

.checkbox input:checked + .check:hover {
  border-color: var(--red-600);
}
