.auth-login-new .login-form p {
  margin: 0 0 2rem 0;
}

.auth-login-new .login-form p span {
  color: var(--cream-250);
}

.auth-login-new .login-form .otp-code {
  display: flex;
  margin: 0 0 2rem 0;
}

.auth-login-new .login-form .otp-code .input {
  height: 2rem;
  margin: 0 .5rem 0 0;
  text-align: center;
  width: 2rem;
}
