.app-workspaces-data_sources-queries-show {
  .new-query-form {
    margin: 2rem 0 0 0;

    .link {
      margin: 2rem 0 0 0;
    }
  }

  aside {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }
}
